#email-preview .row div:first-child{
  text-align: right;
}

.navbar{
  background-color: #138078;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding-top: 5px;
  color: #fff;
}

#sendEmail {
  margin-top: 20px;
  background-color: #138078;
}

.pivotalkbtn{
  margin-top: 15px;
  background-color: #138078;
}

#email-preview ol {
  padding-left: 15px;
}

li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
}
