#email-preview tr td:first-child{
  text-align: right;
  vertical-align: top;
}

.navbar{
  background-color: #138078;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding-top: 5px;
  color: #fff;
}

#sendEmail {
  margin-top: 20px;
  background-color: #138078;
}

.pivotalkbtn{
  margin-top: 15px;
  background-color: #138078;
}